# Stuff Lending Test Report
Here is our test report according to a2 (Passing grade)

Version #94974437 (git commit SHA) (Yes, it was only numbers in this commit SHA)

Date: 2022.11.26

Environment: Windows 10, Java version 17.0.1 Performed by: Charbel/Kenan
![class diagram](img/testreport.PNG)
